<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People management coach and trainer — Farai Madzima</title>
    <meta property="og:title" content="Coach and trainer for people managers — Farai Madzima" />
    <meta name="description" content="Farai Madzima levels up people managers through his coaching and workshops.
">
    <meta property="og:type" content="website" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Farai Madzima",
        "url": "http://faraimadzima.com",
        "sameAs": [
          "http://instagram.com/farai",
          "http://www.linkedin.com/in/farai",
          "http://twitter.com/heyfarai"
        ]
      }
    </script>
	<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
</head>
<body>
	<div class="errythang-grid" id="the-beginning">
    <div class="avatar-wrapper">
      <a href="#the-beginning">
      <img data-src="/img/smiley-farai-madzima-3-4.jpg" alt="Farai with a bushy beard, smiling" class="lazy avatar"
        src="/img/smiley-farai-madzima-3-4--tn.jpg">
      </a>
    </div>
</div>
	<main class="errythang-grid">
	{{ content | safe }}
	</main>
      <div class="errythang-grid">
        <section class="section--with-grid">
        <h2 class="section-heading">Peace!</h2>
        <div class="section-content">
          <ul class="item-appearance-list">
              <li>
                  I tweet sometimes <a href="https://twitter.com/heyfarai">@heyfarai</a> 
              </li>
              <li>
                  You can email me: farai {at} hey.com
              </li>
          </ul>
        </div>
        </section>
    </div>
</body>
</html>