<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ meta.siteTitle }} — {{ meta.authorName.firstName }} {{ meta.authorName.lastName }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Eleventy v1.0.2">
    <link rel="shortcut icon" href="/favicon.ico">
    
    <meta name="description" content="{{ meta.siteDescription }}">
    
    <meta property="og:type" content="website"/>
    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="@{{ meta.twitterHandle }}">
    <meta property="twitter:creator" content="@{{ meta.twitterHandle }}">
    <meta property="og:type" content="website">
    <meta property="og:title" property="twitter:title" content="{{ meta.siteTitle }} — {{ meta.authorName.fullName }}">
    <meta property="og:url" content="https://{{ meta.siteUrl }}/">
    <meta property="og:site_name" content="{{ meta.authorName.fullName }}">
    <meta property="og:title" content="{{ meta.siteTitle }}">
    <meta property="og:image" property="twitter:image" name="image" content="https://{{ meta.siteUrl }}/img/smiley-farai-madzima-3-4.jpg">
    <meta property="og:description" property="twitter:description" content="{{ meta.siteTitle }}">

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}"/>
    <link rel="canonical" href="https://{{ meta.siteUrl}}/" />
  </head>
  <body>
    <div class="errythang-grid" id="the-beginning">
      <div class="avatar-wrapper">
        <a href="/#the-beginning">
          <img
            data-src="/img/smiley-farai-madzima-3-4.jpg"
            alt="Farai with a bushy beard, smiling"
            class="lazy avatar"
            src="/img/smiley-farai-madzima-3-4--tn.jpg">
        </a>
      </div>
    </div>
    <main class="errythang-grid">
      {{ content | safe }}
    </main>
    <div class="errythang-grid">
      <section class="section--with-grid">
        <h2 class="section-heading">Peace!</h2>
        <div class="section-content">
          <p>Get in touch to chat about coaching for you or your team. If you're organising an event, let's chat about a talk or a workshop.</p>
          <ul class="no-bullet">
            <li>
              <strong>Email me</strong>: farai {at} hey.com
            </li>
            {# <li>
              LinkedIn:
              <a href="{{ meta.linkedinUrl }}">{{ meta.linkedinUrl }}</a>
            </li>
            <li>
              Twitter:
              <a href="https://twitter.com/{{ meta.twitterHandle }}">@{{ meta.twitterHandle }}</a>
            </li> #}
          </ul>
        </div> 
      </section>
    </div>
    <div class="footer">
      <p>&copy; 2017 — 2022 Farai Madzima.</p>
      
    </div>
    <script type="application/ld+json">
      {
        "@context" : "http://schema.org",
        "@type" : "Person",
        "name" : "{{ meta.authorFullName }}",
        "url" : "https://{{ meta.siteDomain }}",
        "homeLocation": "Ottawa, Canada",
        "sameAs" : [
          "https://twitter.com/{{ meta.twitterHandle }}",
          "{{ meta.linkedinUrl }}"
        ]
      }
    </script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>