nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 2/4;
  height: 20px;
  margin-left: 20px;
}
@media only screen and (min-width: 600px) {
  nav {
    height: 40px;
    margin-left: 0;
  }
  nav ul li {
    margin-right: 20px;
  }
}
@media only screen and (min-width: 1000px) {
  nav {
    height: 60px;
  }
}
nav ul {
  display: flex;
}
nav ul li {
  margin-right: 12px;
  list-style-type: none;
  a {
    margin-right: calc(0.05em + 0.1vw);
    font-size: clamp(20px, 2.5vw, 22px);
  }
}
#the-beginning {
  margin-bottom: 50px;
}
.section-coaching .nav-coaching {
  box-shadow: none;
}
