// Text colours. British English.
$greenColour: #14cf93 !default;
$redColour: #ff1935 !default;

$primaryColour: $greenColour;
$headingColour: #222222 !default;
$bodyColour: #222222 !default;
$linkColour: $bodyColour;
$hoverColour: $primaryColour !default;
$captionColour: #91979a !default;
$white: #ffffff !default;
$black: #222222 !default;
$grey: #383838 !default;
$lightColor: #fcfaf8;

// Background colours.
$lightBackgroundColor: $lightColor;
$backgroundColour: #fdfdfd !default;
$codeBackgroundColour: #f5f4f2 !default;
