// Text colours. British English.
$greenColour: #06ae00 !default;
$redColour: #ff1935 !default;

$primaryColour: $greenColour;
$headingColour: #222222 !default;
$bodyColour: #222222 !default;
$linkColour: $bodyColour;
$hoverColour: $primaryColour !default;
$captionColour: #bdc8cc !default;
$white: #ffffff !default;
$black: #222222 !default;
$grey: #383838 !default;

// Background colours.
$backgroundColour: #fdfdfd !default;
$codeBackgroundColour: #f5f4f2 !default;
