---
layout: base.njk
pagination:
  data: articles
  size: 1
  alias: article
  addAllPagesToCollections: true
permalink: 'articles/{{ article.title | slugify }}/'
tags: article

---
<article class="section--with-grid  section--no-padding-top ">
    <div class="section-heading">
        <h1 class="low-top article-heading no-bottom">{{ article.title }}</h1>
        {# <span class="caption">Articles / Feedback</span> #}
    </div>
    <div class="article-content ">
        <span class="caption">{{ article.content | readingTime }} reading time</span>
        {{ article.content | md | safe }}
        <p class="caption">{{ article.publishedAt | formatDate('MMMM D, YYYY') }}</p>
    </div>
</article>
<section class="section--with-grid  ">
    <div class="section-heading">
        <h1 class="low-top article-heading">More articles</h1>
    </div>
    <div class="article-content ">
    {% include "partials/_article-list.njk" %}
    </div>
</section>