<ul class="article-list no-bullet">
{%- for post in collections.posts -%}
    {% if page.url != post.url %}
    <li class="article-list-item list-item--space-between">
        <a class="article-link" href="{{ post.url | url }}">{{ post.data.title }}</a>
        <time class="article-date  no-wrap">{{ post.date | formatDate('MMM D, YYYY')  }}</time>
    </li>
    {% endif %}
{%- endfor -%}
</ul>